<footer>
    <div class="block" style="height : 50px !important">
        <div class="container" style="margin-top : -30px">
            <div class="row">
                <div class="col-lg-3 column">
                    <div class="widget">
                        <div class="about_widget">
                            <div class="logo" style="margin-top : -10px">
                                <a href="/" title=""><img src="~/Assets/client/images/resource/logo102.png" alt="" style="width: 200px" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 column">
                    <div class="widget">
                        <a href="@Url.Action("ListJobs","RecruitJob")" class="footer-title">Tất cả việc làm</a>
                        
                    </div>
                </div>
                <div class="col-lg-3 column">
                    <div class="widget">
                        <a href="@Url.Action("ListRecruits","Recruit")" class="footer-title">Công ty</a>
                        
                    </div>
                </div>
                <div class="col-lg-3 column">
                    <div class="widget">
                        <a href="@Url.Action("ListBlogs","Blog")" class="footer-title">Tư vấn/Bài viết</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-line" style="margin-top : -40px">
        <span>© 2022 Jobhunt All rights reserved. Design by Creative Layers</span>
        <a href="#scrollup" class="scrollup" title=""><i class="la la-arrow-up"></i></a>
    </div>
</footer>
